<!DOCTYPE html>
<html>
    <head>
        @RenderSection("TopPageScript", required: false)
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
<body>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("BottomPageScript", required: false)
</body>
</html>
